.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; // Altura más delgada
  padding: 10px 0 10px 0; // Padding abajo de 10px
  background-color: #ffffff; // Color por defecto

  // Color alternativo del header
  &.header_alt {
    background-color: #254c68; // Cambia el color cuando no está en "/"
  }

  // Logo con padding a la izquierda
  &__logo {
    padding-left: 15px;
  }

  // Wallet con padding a la derecha
  &__wallet {
    padding-right: 15px;
  }

  // Barra de búsqueda centrada
  &__search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; // Fondo más gris que el fondo principal
    border-radius: 30px; // Ovalado
    padding: 5px 15px;
    width: 50%;
    max-width: 400px;

    // Icono dentro de la barra de búsqueda
    &Icon {
      color: #7a7a7a; // Gris oscuro para el icono
      margin-right: 10px;
      font-size: 16px;
    }

    // Input de la barra de búsqueda
    &Input {
      flex-grow: 1;
      border: none; // Eliminar el borde
      outline: none; // Asegurarse de que no haya borde al hacer clic
      background-color: transparent;
      font-size: 14px;
      color: #333;

      &::placeholder {
        color: #aaa; // Placeholder gris claro
      }
    }
  }

  .wallet-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
  
    .wallet-button-class {
      background-color: #254c68 !important;
      color: white !important;
    }
  }
  
  
}
