.link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 0.8;
  }
}

.logo {
  height: 110px; /* Ajusta el tamaño del logo */
  width: auto; /* Mantén las proporciones */
  object-fit: contain; /* Asegura proporciones originales */
}
